---
layout: default
title : News
navbar_title: News
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign news_by_year = site.news | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in news_by_year %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl px-3 py-2 small">
            {% for item in year.items %}
            <div class="my-2 d-flex">
                <div>{{ item.title }}</div>
                <div class="ml-auto mt-auto text-muted no-break pl-3"><i>{{ item.date | date: "%b %d" }}</i></div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in news_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
